<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Viewing Report</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    {% load bootstrap3 %}
    {% load humanize %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% block content %}
    <div class="container">
        <h1>
            <span> Valley Fire &amp; Water Restorations Inc</span>
            <span class="pull-right"><img src="/static/img/v_only_100.png"></span>
            <br>
        </h1>
        <span style="font-size: 16px">
        75 W Baseline Rd, Suite 31<br>
        Gilbert, AZ 85233<br>
        www.valleyfireandwater.com<br>
        </span>
    </div>
    <div class="container">
        <h1>Warranty List</h1>
        <h2>{{ start }} - {{ end }}</h2>
        {% for group in job_groups %}
          <h3>{{ group_by}}: {{group.name}}</h3>
          {% for subgroup in group.jobs %}
            <h4>{{ sort_by }}: {{subgroup.name}}</h4>
            <table id="table{{forloop.counter}}" class="table table-striped table-hover table-bordered table-condensed">
              <thead>
                  <tr>
                      <th class="col-md-2"> Customer </th>
                      <th class="col-md-1"> City </th>
                      <th class="col-md-1"> Date </th>
                      <th class="col-md-1"> Estimator</th>
                      <th class="col-md-1"> Production</th>
                      <th class="col-md-1"> Insurance</th>
                      <th class="col-md-1"> Loss Type</th>
                      <th class="col-md-1"> Value</th>
                      <th class="col-md-1"> Program</th>
                  </tr>
              </thead>
              <tbody>
                {% for job in subgroup.jobs %}
                  <tr>
                      <td class="col-md-2"> {{ job.customer }}</td>
                      <td class="col-md-1"> {{ job.city }}</td>
                      <td class="col-md-1"> {{ job.entry_date | date:"m/d/y" }}</td>
                      {% if job.estimator %}
                        <td class="col-md-1"> {{ job.estimator.first_name }} {{ job.estimator.last_name }}</td>
                      {% else %}
                        <td class="col-md-1"></td>
                      {% endif %}
                      {% if job.production_manager %}
                        <td class="col-md-1"> {{ job.production_manager.first_name }} {{ job.production_manager.last_name }}</td>
                      {% else %}
                        <td class="col-md-1"></td>
                      {% endif %}
                      <td class="col-md-1"> {{ job.insurance_company }}</td>
                      <td class="col-md-1"> {{ job.loss_type }}</td>
                      <td class="col-md-1"> $ {{ job.estimated_loss | floatformat:2 | intcomma}} </td>
                      <td class="col-md-1"> {{ job.program_type }}</td>
                  </tr>
                  {% if show_most_recent_note %}
                    <tr>
                      <td>Most Recent Note:</td>
                      <td colspan="11">{{ job.most_recent_note }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
            <h5>Total: {{ subgroup.jobs | length }} jobs for a total of ${{ subgroup.sum | floatformat:0 | intcomma }} with a average value of ${{ subgroup.avg | floatformat:0 | intcomma }} a high value of ${{ subgroup.max | floatformat:0 | intcomma }} and a low value of ${{ subgroup.min | floatformat:0 | intcomma }} </h5>
          {% endfor %}
          <h4>Total: {{ group.job_count }} jobs for a total of ${{ group.sum | floatformat:0 | intcomma }} with a average value of ${{ group.avg | floatformat:0 | intcomma }} a high value of ${{ group.max | floatformat:0 | intcomma }} and a low value of ${{ group.min | floatformat:0 | intcomma }} </h5>
          <hr style="margin-top: 20px; margin-bottom: 20px;" />
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>
