
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(255, 255, 255, 1);
 }

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #e5e5e5;
 }

 .form-horizontal .control-group .field-box .controls .multi-field-box {
     min-width: 250px !important;
 }
